* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  top: 120px;
  overflow: hidden;
}

.page-wrapper {
  height: calc(100vh - 120px);
  width: 100%;
  background-color: #fff;
  overflow: auto;
}